*{
margin: 0;
padding: 0;
}
body {
    font-family: 'Roboto';
}
.header {
    background-image: url;
    height: 930px
}
.img_div {
    position: relative;
    left: 90px;
    top: 40px;
}
