* {
    margin: 0;
    padding: 0;
}

body {
    width: 1920px;
    height: 1080px;
    padding: 0 auto;
    margin: 0 auto;
    font-family: 'ReformaGroteskBoldC';
    background: black;
}

.header {
    background: linear-gradient(180deg, rgba(20, 20, 20, 0.8) 78.8%, #141414 100%), url(img/Rectangle\ 64.png);

}
.img_div{
    opacity: 0.4;
}
.div ul{
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
}
.ul li{
    border-radius: 20px;
}
.li {
    width: 44px;
    height: 29px;
}
.p{
    font-family: 'GroteskMediumC';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 120%;
    text-align: center;
    letter-spacing: 0.03em;
    color: #e71010;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.h1 {
    position: center;
        width: 483px;
        height: 188px;
        left: 719px;
        top: 237px;
        font-family: 'ReformaGroteskBoldC';
        font-style: normal;
        font-weight: 700;
        font-size: 150px;
        line-height: 125%;
        text-align: center;
        color: rgba(219, 49, 56, 1);
}
.img_div1 {
    margin: 650px;
            width: 10px;
            height: 10px;
            left: 887px;
            top: 438px;

}
.img_div2 {
    margin: 750px;
        width: 10px;
        height: 10px;
        left: 931.07px;
        top: 438px;
        
}
.img_div3 {
    margin: 0px;
        width: 10px;
        height: 10px;
        left: 975.14px;
        top: 438px;
        
}
.img_div4 {
    margin: 850px;
        width: 10px;
        height: 10px;
        left: 1019.21px;
        top: 438px;
        
}
.h2 {

}