* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto';
}

.header {
    background: linear-gradient(180deg, rgba(20, 20, 20, 0.8) 78.8%, #141414 100%), url(img/Rectangle\ 64.png);

}
.div ul{
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
}
.ul li{
    border-radius: 20px;
}
.li {
    display: block;
    padding:0 20px;
    color: white;
    font-size: 20px;
    line-height: 60px;
}
.h1 {
    position: absolute;
        width: 483px;
        height: 188px;
        left: 719px;
        top: 237px;
        font-family: 'ReformaGroteskBoldC';
        font-style: normal;
        font-weight: 700;
        font-size: 150px;
        line-height: 125%;
        text-align: center;
        color: #DB3138;
}
